<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Retornar ao Inicio</div>
                <a class="nav-link" href="/admin">
                    <div class="sb-nav-link-icon" ></div>
                    <img src="/resources/assets/img/ativo_3.png" width="80" height="100">
                </a>
                <div class="sb-sidenav-menu-heading">Perfil</div>
                    <a class="nav-link" href="/alterar_cadastro_admin">
                        <div class="sb-nav-link-icon"><i class="fa fa-user"></i></div>
                            Editar informações
                    </a>
                <div class="sb-sidenav-menu-heading">Menu Geral</div>
                
                <a class="nav-link" href="/alterar_usuarios">
                    <div class="sb-nav-link-icon"><i class="fas fa-people-arrows"></i></div>
                        Alterar Usuários
                </a>
                
                
                
                <div class="nav-link">
                    <button type="button" style="background-color:orange" class="btn btn-sm efetuar-logout"><i class="far fa-arrow-alt-circle-right"></i> Logout</button>
                </div>
            </div>
        </div>
    </nav>
</div>