<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Registrar IMC</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <form name="imcForm" id="imcForm" action="#"></form>
                        <div class="form-group">
                            <label for="formControlAltura">Informe sua altura:</label>
                            <input type="text" class="form-control imc" name="altura" id="altura">
                            <br>
                            <label for="formControlPeso">Informe seu peso:</label>
                            <input type="text" class="form-control imc" name="peso" id="peso">
                            <br>                           
                           
                            <div class="alert alert-warning" style="display:none" role="alert" id="resultado_IMC">
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="id_aluno" name="id_aluno" value="{{id_usuario}}">
                <input type="hidden" id="resultado_imc_calculado" name="resultado_imc_calculado">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="calcula_imc()" style="background-color:orange">Calcular</button>
                <button type="button" id="registrar_imc" class="btn btn-primary" style="background-color:orange">Registrar IMC</button>
                </div>
            </div>
        </div>