<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <button class="btn btn-link btn-sm order-0" id="sidebarToggle"><i class="fas fa-bars"></i></button>
    <a class="navbar-brand" style="padding-left: 1px">Bem vindo, {{usuario|upper}}</a>
</nav>
