<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="ISO-8859-1" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>CT Maromba - Academia</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <!--
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />

    <!-- CSS Files -->
    <link href="/resources/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/resources/assets/css/now-ui-kit.css?v=1.2.0" rel="stylesheet" />
    <link href="/resources/assets/css/ctmaromba.css" rel="stylesheet" />


    <!--   Core JS Files   -->
    <script src="/resources/assets/js/popper.min.js" type="text/javascript"></script>
    <script src="/resources/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/resources/assets/js/plugins/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/resources/assets/js/plugins/jquery_mask/jquery.mask.min.js"></script>

    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="/resources/assets/js/plugins/bootstrap-switch.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="/resources/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="/resources/assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="/resources/assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="/resources/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="/resources/assets/js/plugins/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script src="/resources/assets/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>

    <script src="/resources/assets/js/ctmaromba.js?v={{'now'|date('ymdhis')}}" type="text/javascript"></script>
  </head>
  <body class="index-page">
    <nav class="navbar navbar-expand-lg bg-white fixed-top navbar-transparent">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="/" data-placement="bottom">
                    CT Maromba
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" data-nav-image="/resources/assets/img/blurred-image-1.jpg" data-color="orange">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" id="sobre">
                        <a class="nav-link" href="/sobre" >
                            <i class="fa fa-address-card"></i>
                            <p>Sobre Nós</p>
                        </a>
                    </li>
					<li class="nav-item" id="imc">
                        <a class="nav-link" href="/imc" >
                        <i class="fa fa-calculator"></i>
                            <p>Calculadora de IMC</p>
                        </a>
                    </li>
                    <li class="nav-item" id="cadastro">
                        <a class="nav-link" href="/cadastro" >
                            <i class="fa fa-user"></i>
                            <p>Cadastro</p>
                        </a>
                    </li>
                    <li class="nav-item login">
                        <a class="nav-link btn btn-primary btn-round btn-block" href="/login" >

							<p>Login</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block container %}

    {% endblock %}

    <footer class="footer" style="background-color:white">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a style="color:black;">
                            Dúvidas? Fale Conosco <i class="fab fa-whatsapp"></i> <a href=https://wa.me/5519981655237 style="font-size:13px; color:black;" target="_blank">+55(19) 98165-2237</a>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright" style="color:black;">
                &copy;
                <a style="color:black;"> CT Maromba </a>
            </div>
        </div>
    </footer>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->

    <!--   Core JS Files   -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/resources/assets/js/popper.min.js" type="text/javascript"></script>
    <script src="/resources/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/resources/assets/js/plugins/moment.min.js"></script>
    <script src="/resources/assets/js/plugins/bootstrap-switch.js"></script>
    <script src="/resources/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <script src="/resources/assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <script src="/resources/assets/js/plugins/jasny-bootstrap.min.js"></script>
    <script src="/resources/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <script src="/resources/assets/js/plugins/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="/resources/assets/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>  -->

  </body>
</html>
