<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>CT Maromba</title>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" rel="stylesheet" type="text/css">
        <link href="/resources/assets/css/styles_login.css" rel="stylesheet" />

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
        <script src="/resources/assets/js/plugins/jquery_mask/jquery.mask.min.js"></script>
        <script src="/resources/assets/js/ctmaromba.js?v={{'now'|date('ymdhis')}}" type="text/javascript"></script>
        <script src="/resources/assets/js/calcula_imc.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <style>
            .ui-autocomplete{
                z-index:1050;
            }
        </style>
	</head>
    <body class="sb-nav-fixed">
    {% block container %}

    {% endblock %}
    <footer class="footer bg-light" style="width: 100%; padding: 10px;">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Dúvidas? Fale Conosco <i class="fab fa-whatsapp"></i> <a href=https://wa.me/5519981655237 style="font-size:13px" target="_blank">+55(19) 98165-2237</div>
                <div class="copyright">
                    &copy;
                    <a> CT Maromba </a>
                </div>
        </div>
    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
  </body>
</html>
