body {
    overflow-x: hidden;
}

#logo{
    margin-top: 1rem;
    width: 25%;
    height: 10%;
}

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .login-form{
    margin-top: 0.5rem;
  }
  .brand{
    margin-top: 1rem;
    width: 15%;
    height: 10%;
  }
  .navbar-logo{
    width: 30%;
    height: 30%;
  }
  .content-ctmaromba{
    top:0rem;
  }
  #btn_sair_navbar{
    display:none;
  }
  #btn_sair_menu{
    display:none;
  }
  #ctmaromba_menu{
    display:none;
  }
  .content-ctmaromba-tittle{
    margin-top: 4rem !important;    
  }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  .login-form{
    margin-top: 0.5rem;  
  }
  .brand{
    margin-top: 1rem;
    width: 15%;
    height: 10%;
  }
  .navbar-logo{
    width: 50%;
    height: 50%;
  }
  .content-ctmaromba{
    top:0rem;
  }
  #btn_sair_navbar{
    display:none;
  }
  #btn_sair_menu{
    display:none;
  }
  #ctmaromba_menu{
    display:none;
  }
  .content-ctmaromba-tittle{
    margin-top: 4rem !important;
  }
  
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  .login-form{
    margin-top: 0.5rem;  
  }
  .brand{
    margin-top: 1rem;
    width: 15%;
    height: 10%;
  }
  .navbar-logo{
    width: 80%;
    height: 80%;
  }
  .content-ctmaromba{
    top:0rem;
  }
  #btn_sair_navbar{
    display:none;
  }
  /* #btn_sair_menu{
    display:none;
  }
  #ctmaromba_menu{
    display:none;
  } */
  .content-ctmaromba-tittle{
    margin-top: 4rem !important;
  }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .login-form{
    margin-top: 10rem;  
  }
  .brand{
    margin-top: 1rem;
    width: 15%;
    height: 10%;
  }
  .navbar-logo{
    width: 80%;
    height: 80%;
  }
  .content-ctmaromba{
    top:0rem;
  }
  .content-ctmaromba-tittle{
    margin-top: 4rem !important;
  }
  
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .login-form{
    margin-top: 15rem;  
  }
  .brand{
    margin-top: 1rem;
    width: 15%;
    height: 10%;
  }
  .navbar-logo{
    width: 50%;
    height: 50%;
  }
  .content-ctmaromba{
    top:0rem;
  }
  .content-ctmaromba-tittle{
    margin-top: 4rem !important;
  }
  
}

.content-ctmaromba{
  position: absolute;
}

.shadow{
  box-shadow: 0.9em 0.5em 1.3em #8d8b8b !important;
}

.form-control::placeholder{
  font-size: 18px;
}

.text-ctmaromba {
  color: #fd7e14 !important;
}

a.text-ctmaromba:hover, a.text-ctmaromba:focus {
  color: #db690c !important;
}

.border-ctmaromba{
  border-color: #dc3545 !important;
  border-width: 2px !important;
}

.btn-ctmaromba {
  font-weight: 600px;
  font-size: 1.7rem !important;
  color: #fff;
  background-color: #fd7e14;
  border-color: #fd7e14;

  background: rgb(235,123,17);
  background: linear-gradient(0deg, rgba(235,123,17,0.9) 0%, rgba(253,45,45,0.9) 80%);
}
  
.btn-ctmaromba:hover {
  color: #fff;
  background-color: #db690c;
  border-color: #d86a11;
}

.btn-ctmaromba:focus, .btn-ctmaromba.focus {
  color: #fff;
  background-color: #db690c;
  border-color: #f89c51;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-ctmaromba.disabled, .btn-ctmaromba:disabled {
  color: #fff;
  background-color: #f7a563;
  border-color: #f7a563;
}

.btn-ctmaromba:not(:disabled):not(.disabled):active, .btn-ctmaromba:not(:disabled):not(.disabled).active,
.show > .btn-ctmaromba.dropdown-toggle {
  color: #fff;
  background-color: #f7a563;
  border-color: #f7a563;
}

.btn-ctmaromba:not(:disabled):not(.disabled):active:focus, .btn-ctmaromba:not(:disabled):not(.disabled).active:focus,
.show > .btn-ctmaromba.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(226, 118, 18, 0.5);
}

.btn-outline-ctmaromba {
  color: #fd7e14;
  border-color: #fd7e14;
}

.btn-outline-ctmaromba:hover {
  color: #fff;
  background-color: #fd7e14;
  border-color: #fd7e14;
}

.btn-outline-ctmaromba:focus, .btn-outline-ctmaromba.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 162, 41, 0.5);
}

.btn-outline-ctmaromba.disabled, .btn-outline-ctmaromba:disabled {
  color: #fd7e14;
  background-color: transparent;
}

.btn-outline-ctmaromba:not(:disabled):not(.disabled):active, .btn-outline-ctmaromba:not(:disabled):not(.disabled).active,
.show > .btn-outline-ctmaromba.dropdown-toggle {
  color: #fff;
  background-color: #fd7e14;
  border-color: #fd7e14;
}

.btn-outline-ctmaromba:not(:disabled):not(.disabled):active:focus, .btn-outline-ctmaromba:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-ctmaromba.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 162, 41, 0.5);
}

#loading{
  margin-top: 20rem;  
}

.alert-ctmaromba {
  color: gray;
  background: linear-gradient(0deg, rgba(235,123,17,0.10) 10%, rgba(253,45,45,0.10) 80%);
  border-color: #f89c51;
}

.alert-ctmaromba hr {
  border-top-color: #f89c51;
}

.alert-ctmaromba .alert-link {
  color: #fd7e14;
}

.bg-ctmaromba {
  background-color: #881010 !important;
}
.navbar-ctmaromba{
  position: fixed;
  left: 0;
  min-height: 100vh;
}
.bg-navbar-ctmaromba{
  background: rgb(235,123,17) !important;
  background: linear-gradient(-10deg, rgba(235,123,17,1) 0%, rgba(10, 1, 1, 1) 80%) !important;
}

.nav-ctmaromba .nav-link {
  border-radius: 0.25rem;
}

.nav-ctmaromba .nav-link.active,
.nav-ctmaromba .show > .nav-link {
  color: #fff !important;
  background-color: #fd7e14;
}

#btn_menu{
  position:fixed;
  left: 0.5rem;
  top: 4rem;
  z-index:999;
}

.btn-group-ctmaromba{
  margin-top: 7rem !important;
}

.content-ctmaromba-tittle-open{
  margin-top: 6.5rem !important;
}

.img-logo{
  z-index: 999;
}
.modal-xl{
  max-width:100px
}
