{% extends "inc/template_login.phtml" %}
{% block container %} 
    <script src="/resources/assets/js/admin_alteracao_usuario.js" type="text/javascript"></script>	
		{% include "inc/navbar.phtml" %}
        <div id="layoutSidenav">
            {% include "inc/menu_admin.phtml" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Tabela de usuários completa</h1>
                        <div class="card mb-4">
                            <div class="card-body">
                                Selecione o usuário que deve ser modificado e clique no botão desejado.
                            </div>
                        </div>
						<br>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Lista de usuários								
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Cargo</th>
                                                <th>E-mail</th>
                                                <th>CPF</th>                                                
                                                <th>Data Inicio</th>
												<th></th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            {% for usuario in lista_usuarios %}
                                                <tr>
                                                    <td>{{usuario.nome_completo}}</td>
                                                    <td>{{usuario.cargo}}</td>
                                                    <td>{{usuario.email}}</td>
                                                    <td>{{usuario.cpf}}</td>                                                    
                                                    <td>{{usuario.data_cadastro | date("d/m/Y")}}</td>
                                                    <td>
                                                        <div class="row">
                                                            <div class="form-inline">
                                                                <button type="button" style="background-color:orange" class="btn btn-sm ml-1 alterar-usuario" id_usuario="{{usuario.id_usuario}}" cargo="{{usuario.cargo}}" data-toggle="modal" data-target="#exampleModalCenter"><i class="far fa-edit"></i></button>
                                                                <button type="button" style="background-color:orange" class="btn btn-sm ml-1 cancelar-usuario" id_usuario="{{usuario.id_usuario}}" cargo="{{usuario.cargo}}" data-toggle="modal" data-target="#exampleModalCenter1"><i class="far fa-trash-alt"></i></i></button>
                                                            </div>
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                           
                                        </tbody>
                                    </table>
									<!-- <div class="d-flex justify-content-center">
										<button style="margin-right:20px; background-color:orange" type="button" class="btn btn-lg"><i class="far fa-trash-alt"></i> Deletar usuário</button>
										<button style="background-color:orange" type="button" class="btn btn-lg"><i class="fas fa-user-tie"></i> Promover usuário</button>
									</div> -->
								</div>
                            </div>
                        </div>
                    </div>
                </main>
               
	
	
	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalTitle">Selecionar categoria</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
              <div class="form-check tipos-usuarios" id="opcao_ADMIN">
                <input class="form-check-input" type="radio" name="tipo_usuario" id="radio_ADMIN" value="ADMIN" checked>
                <label class="form-check-label" for="opcao_admin">
                  Administrador
                </label>
              </div>
			<div class="form-check tipos-usuarios" id="opcao_ALUNO">
				<input class="form-check-input" type="radio" name="tipo_usuario" id="radio_ALUNO" value="ALUNO">
				<label class="form-check-label" for="opcao_aluno">
					Aluno
				</label>
			</div>
			<div class="form-check tipos-usuarios" id="opcao_PERSONAL">
			  <input class="form-check-input" type="radio" name="tipo_usuario" id="radio_PERSONAL" value="PERSONAL">
			  <label class="form-check-label" for="opcao_personal">
				Personal
			  </label>
            </div>
            <input type="hidden" id="id_usuario_alteracao" name="id_usuario_alteracao">
            <input type="hidden" id="cargo_de" name="cargo_de">
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			<button type="button" id="alterar_cargo_usuario" class="btn btn-primary" style="background-color:orange">Confirmar</button>
		  </div>
		</div>
	  </div>
    </div>
    
    <!-- Modal Cancelar -->
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalTitle">Cancelamento de conta</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-danger">Você deseja realmente desativar este usuário?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" style="background-color:orange">Desativar</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
