{% extends "inc/template_login.phtml" %}
{% block container %} 
<script src="/resources/assets/js/alteracao_usuario.js" type="text/javascript"></script>
        {% include "inc/navbar.phtml" %}
        <div id="layoutSidenav">
            {% include "inc/menu_personal.phtml" %}
            <div id="layoutSidenav_content">
        <main>
			<div class="page-header">
        <div class="content">
            <div class="container">
                    <div class="mr-auto mt-5">
                        <div class="card card-signup">
                            <div class="card-body text-center">
                                <h4 class="card-title">Alterar Cadastro</h4>
								<form id="form_alterar_cadastro_usuario" class="form" method="POST" action="/alterar_cadastro_usuario">
									<input type="hidden" name="id_usuario" id="id_usuario" value="{{id_usuario}}">
                                    <input type="hidden" name="tipo_usuario" id="tipo_usuario" value="{{tipo_usuario}}">
									<a> Nome </a>
                                    <div class="input-group">										
									  <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input type="text" class="form-control" style="text-align:center" name="nome_completo" id="nome_completo" placeholder="Nome Completo" value="{{nome_completo}}">
                                    </div>
									<a> CPF </a>
									<div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input type="text" class="form-control" style="text-align:center" name="cpf" id="cpf" placeholder="EX. 999.999.999-00" value="{{cpf}}">
                                    </div>
									<a> Data de Nascimento </a>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input type="text" class="form-control" style="text-align:center" name="data_nasc" id="data_nasc" placeholder="Data Nascimento" value="{{data_nasc | date('d/m/Y')}}">
                                    </div>
									<a> E-mail </a>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input type="text" class="form-control" style="text-align:center" name="email" id="email" placeholder="E-mail" value="{{email}}">
                                    </div>
										<a> Nova Senha </a>
									<div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input type="password" class="form-control" name="nova_senha" id="nova_senha" style="text-align:center" placeholder="Senha">
                                    </div>
									<a> Cofirmar Nova Senha </a>
									<div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input type="password" class="form-control" name="confirmar_senha" id="confirmar_senha" style="text-align:center" placeholder="Senha">
                                    </div>
                                    <div class="card-footer text-center">
										<button type="button" id="alterar_cadastro" href="#" class="btn btn-primary btn-round btn-lg btn-submit" style="background-color:orange">Alterar</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		</main>


{% endblock %}