{% extends "inc/template_login.phtml" %}
{% block container %}
        <script src="/resources/assets/js/login_personal.js" type="text/javascript"></script>
        {% include "inc/navbar.phtml" %}		
        <div id="layoutSidenav">
            {% include "inc/menu_personal.phtml" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Treinos</h1>
                        <div class="card mb-4">
                            <div class="card-body">
                                Selecione o tipo de treino e o aluno para qual o mesmo deve ser assinalado.
                            </div>
                        </div>
						<br>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Lista de alunos								
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Email</th>
                                                <th>CPF</th>
                                                <th>Data Nascimento</th>
                                                <th>Data Inicio</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>                                            
                                            {% for aluno in alunos_personal %}
                                            <tr>
                                                <td>{{aluno.nome_completo}}</td>
                                                <td>{{aluno.email}}</td>
                                                <td>{{aluno.cpf}}</td>
                                                <td>{{aluno.data_nasc | date("d/m/Y")}}</td>
                                                <td>{{aluno.data_cadastro | date("d/m/Y")}}</td>
                                                <td>
                                                    {% if aluno.contem_treino == 0 %}
                                                        <div class="nav-link">
                                                            <button type="button" style="background-color:orange" class="btn btn-sm atribuir-treino" id_aluno="{{aluno.id_aluno}}" data-toggle="modal" data-target=".bd-example-modal-lg" title="Atribuir Treino"><i class="far fa-address-card"></i></button>
                                                        </div>
                                                    {% else %}
                                                        <div class="nav-link">
                                                            <button type="button" style="background-color:orange" class="btn btn-sm consultar-treino-aluno" id_aluno="{{aluno.id_aluno}}" data-toggle="tooltip" data-placement="top" title="Consultar Treino"><i class="fas fa-dumbbell"></i></button>
                                                        </div>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
									<!-- <div class="d-flex justify-content-center">
										<button style="margin-right:20px; background-color:orange" type="button" class="btn btn-lg"><i class="far fa-trash-alt"></i> Deletar usuário</button>
										<button style="background-color:orange" type="button" class="btn btn-lg"><i class="fas fa-user-tie"></i> Promover usuário</button>
									</div> -->
								</div>
                            </div>
                        </div>
                    </div>
                </main>
                
                <footer class="py-4 bg-light">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            
                            <div class="text-muted">Dúvidas? Fale Conosco <i class="fab fa-whatsapp" style="font-size:16px"></i> <a href=https://wa.me/5519981655237 style="font-size:13px" target="_blank">+55(19) 98165-2237</div>
								<div class="copyright">
									&copy;
									<a> CT Maromba </a>
								</div>
						</div>
					</div>
                </footer>
            </div>
        </div>

        <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Atribuição de Treinos</h5>
                            
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                        
                            <div class="d-flex  justify-content-left" id="duplicador">
                                <form id="form_treino_aluno" action="/salvar_treino_aluno" method="post">
                                    <input type="hidden" id="id_aluno_modal" name="id_aluno_modal">
                                    <div class="row">
                                        {% for treino, treinos in lista_exercicios %}
                                            <div class="col-12 col-lg-6">
                                                <div class="card mb-4" style="">
                                                    <div class="card-header">
                                                        <i class="fas fa-table mr-1"></i>
                                                        Lista de Exercícios	{{treino}}
                                                    </div>
                                                    <div class="card-body">
                                                        
                                                        <div class="table-responsive">
                                                            <table class="table table-sm table-bordered" width="100%" cellspacing="0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Exercício</th>
                                                                        <th>Músculo</th>
                                                                        <th>Série</th>
                                                                        <th>Repetição</th>
                                                                    </tr>
                                                                </thead>                                                 
                                                                <tbody>
                                                                    
                                                                    
                                                                    {% for linha_treino in treinos %}
                                                                        <tr>
                                                                            <td><input type="text" class="form-control tipo-exercicio" treino="{{treino}}" linha_treino="{{linha_treino}}" name="tipo_exercicio_{{treino}}" id="tipo_exercicio_{{treino}}_{{linha_treino}}"></td>
                                                                            <input type="hidden" id="id_tipo_exercicio_{{treino}}_{{linha_treino}}" name="id_tipo_exercicio_{{treino}}[]">
                                                                            <td id="musculo_exercicio_{{treino}}_{{linha_treino}}"></td>
                                                                            <td>
                                                                                <select class="custom-select" name="series_{{treino}}[]" id="series_{{treino}}_{{linha_treino}}">
                                                                                    <option value="2">2</option>
                                                                                    <option value="3">3</option>
                                                                                    <option value="4">4</option>
                                                                                    <option value="5">5</option>
                                                                                    <option value="6">6</option>
                                                                                </select>
                                                                            </td>
                                                                            <td>
                                                                                <select class="custom-select" name="repeticoes_{{treino}}[]" id="repeticoes_{{treino}}_{{linha_treino}}">
                                                                                    <option value="5">5</option>
                                                                                    <option value="7">7</option>
                                                                                    <option value="10">10</option>
                                                                                    <option value="12">12</option>
                                                                                    <option value="15">15</option>
                                                                                    <option value="20">20</option>
                                                                                    <option value="30">30</option>
                                                                                </select>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>                                                    
                                                        </div> <!-- final da tabela -->
                                                    </div>
                                                </div> <!-- final do card -->
                                            </div>
                                        {% endfor %}
                                    </div>									
                                    <button type="button" id="salvar_treino_aluno" style="background-color:orange" class="btn btn-primary">Salvar Treinos</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </form>
                            </div>							
                        </div>								
                    </div>
                        
                
                    <!-- <div class="modal-footer">
                         <button style="background-color:orange;" class="btn btn-primary mr-auto" id="duplicator" onclick="extendDropdown()">Adicionar outro exercício</button>
                        <button type="button" id="salvar_treino_aluno" style="background-color:orange" class="btn btn-primary">Salvar Treinos</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

