{% extends "inc/template.phtml" %}
{% block container %}
    <input type="hidden" id="page" value="cadastro">
    <!-- End Navbar -->
    <div class="page-header section-image">
        <div class="page-header-image" style="background-image:url(/resources/assets/img/CC5C0D1C455F1262374E8EAA6ED90478B9D3_academia.jpg)"></div>
        <div class="content">
            <div class="container">
                    <div class="col-md-4 mr-auto" style="margin: 0 auto;">
                        <div class="card card-signup">
                            <div class="card-body">
                                <h4 class="card-title text-center text-dark">Preencha para se cadastrar</h4>
                                <!-- <div class="alert alert-ctmaromba mt-1">
                                    <span>Campos Obrigatórios *</span>
                                </div> -->
                                <form id="cadastro_aluno" class="form" method="" action="">
								    <span class="text-dark">Nome *</a>
                                    <div class="input-group">										
									  <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input id="nome_aluno" name="nome_aluno" type="text" class="form-control form-cadastro-aluno" style="text-align:center" placeholder="Nome Completo">
                                    </div>
                                    <span class="text-dark">CPF *</a>
                                    <div class="input-group">										
									  <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input id="cpf_aluno" name="cpf_aluno" type="text" class="form-control form-cadastro-aluno" style="text-align:center" placeholder="EX. 999.999.999-99">
                                    </div>
									<span class="text-dark"> Data de Nascimento *</span>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input id="data_nascimento" name="data_nascimento" type="text" class="form-control form-cadastro-aluno date" style="text-align:center" placeholder="Data Nascimento">
                                    </div>
									<span class="text-dark"> E-mail *</span>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input id="email_aluno" name="email_aluno" type="email" class="form-control form-cadastro-aluno" style="text-align:center" placeholder="E-mail">
                                    </div>
									
                                    <span class="text-dark"> Senha *</span>
									<div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"></span>
                                        </div>
                                        <input id="senha_aluno" name="senha_aluno" type="password" class="form-control form-cadastro-aluno" style="text-align:center" placeholder="Senha">
                                    </div>
                                    <div class="card-footer text-center">
                                        <button type="button" id="cadastrar_aluno" class="btn btn-primary btn-round btn-lg">Enviar</button>
                                    </div>
                                </form>
                                <div style="display:none;" id="result_cadastro" class="alert alert-ctmaromba mt-1">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
