{% extends "inc/template.phtml" %}
{% block container %}
    
    <input type="hidden" id="page" value="imc">
    <!-- End Navbar -->
    <div class="page-header section-image" filter-color="orange">
        <div class="page-header-image" style="background-image:url(/resources/assets/img/blurred-image-1.jpg)"></div>
        <div class="content">
            <div class="container">
                <div class="logo-container">
                    <img src="/resources/assets/img/new-logo.png" style="height:300px; width:600;">
                </div>
                <div class="col-md-5 ml-auto mr-auto">
                    <div class="card card-login card-plain">
                        <form class="form" method="" action="">
                            <div class="card-header text-center">
                            </div>
                            <div class="card-body">
                                <div class="input-group form-group-no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <input type="text" class="form-control text-center campo-imc" id="peso" placeholder="Peso">
                                </div>
                                <div class="input-group form-group-no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <input type="text" class="form-control text-center campo-imc" id="altura" placeholder="Altura">
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="button" id="calcula_imc" class="btn btn-primary btn-round btn-lg btn-block btn-submit">Calcular</button>
                            </div>
                            </div>
                        </form>
                        <div id="resultado_IMC" class="alert alert-warning" style="display:none"></div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="separator-line separator-primary"></div>
        <div class="projects-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Aprenda mais sobre o IMC</h2>
                        <div class="section-space"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 ml-auto">
                        <div class="card card-background card-background-product card-raised" style="background-image: url('/resources/assets/img/boy-gym-background_23-2147633878.jpg')">
                            <div class="card-body">
                                <h2 class="card-title">índice de massa corporal</h2>
                                <p class="card-description">
                                    O índice de massa corporal é uma medida internacional usada para calcular se uma pessoa está em seu peso ideal. Trata-se de um método fácil e rápido para a avaliação do níel de gordura de cada pessoa.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 mr-auto">
                        <div class="info info-horizontal">
                            <div class="icon icon-danger">
                                <i class="fas fa-balance-scale"></i>    
                            </div>
                            <div class="description">
                                <h4 class="info-title">Pra que serve?</h4>
                                <p class="description">
                                    O IMC serve como um preditor de obesidade adotado pela Organização Mundial da Saúde.
                                </p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon icon-danger">                                
                                <i class="fas fa-calculator"></i>                                
                            </div>
                            <div class="description">
                                <h4 class="info-title">Como é calculado?</h4>
                                <p class="description">
                                    O IMC é determinado pela divisão da massa pelo quadrado da altura, sendo a massa em kilos e a altura em metros.
                                </p>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon icon-danger">
                                <i class="fas fa-recycle"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Existe uma medida ideal?</h4>
                                <p class="description">
                                    Para adultos, um IMC entre 20 e 22 indica a quantidade ideal, saudável de gordura corporal, o que está associado com maior tempo de vida e menor incidência de doenças graves.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />	
            </div>
{% endblock %}
