{% extends "inc/template.phtml" %}
{% block container %}
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header clear-filter" filter-color="orange">
                <div class="page-header-image page-header-city" style="background-image: url('/resources/assets/img/blurred-cardio-machines_1203-98.jpg')">
                </div>
				<div class="content-center">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                        <h1 class="title display-1" style="font-size:8vmax">CT Maromba</h1><br>
                        <h4>Seja bem vindo a uma nova experiência.</h4>
                    </div>
                </div>
            </div>
		</div>
	</div>
{% endblock %}
