{% extends "inc/template.phtml" %}
{% block container %}

    <!-- End Navbar -->
    <div class="page-header section-image" filter-color="orange">
        <div class="page-header-image" style="background-image:url(/resources/assets/img/academia-campanha-1.jpg)"></div>
        <div class="content">
            <div class="container">        
                <div class="logo-container">
                    <img class="img-logo" src="/resources/assets/img/new-logo.png" style="height:300px; width:600;">
                </div>
                <div class="col-md-5 ml-auto mr-auto">
                    <form id="form_efetuar_login" class="form" method="" action="">
                        <div class="card card-login card-plain">
                            <div class="card-body">
                                <div class="input-group form-group-no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <input type="text" class="form-control text-center campo-login" id="login" name="login" style="font-size:13px" placeholder="CPF">
                                </div>
                                <div class="input-group form-group-no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"></span>
                                    </div>
                                    <input type="password" class="form-control text-center campo-login" style="font-size:13px" id="senha" name="senha" placeholder="Senha">
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="button" id="efetuar_login" class="btn btn-primary btn-round btn-lg btn-block btn-submit">Entrar</button>
                            </div>
                            <div class="pull-center">
                                <h6>
                                    <a class="link footer-link" href="/cadastro">Crie sua conta</a>
                                </h6>
                            </div>
                        </div>
                    </form>
                    <div id="result_login" class="alert alert-warning" style="display:none;"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
