{% extends "inc/template_login.phtml" %}
{% block container %}
    <script src="/resources/assets/js/login_personal.js" type="text/javascript"></script>
{% include "inc/navbar.phtml" %}
    <div id="layoutSidenav">
        {% include "inc/menu_personal.phtml" %}
        <div id="layoutSidenav_content">
            <main>
                <br>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fa fa-chart-area mr-1"></i>
                            Quantidade de alunos
                        </div>
                        <div class="card-body"><canvas id="personalChartVinculoAluno" width="100%" height="30"></canvas></div>
                        <div class="card-footer small text-muted d-flex justify-content-center">
                        <a> A quantidade de alunos pode alterar conforme o vencimento dos planos.</a>
                        </div>
                    </div>
            </main>
            <div>
                <label class="ml-1 mb-1 strong"><p class="font-weight-bold">Vincular aluno:</p></label>
                <input class="form-label-lg ml-1" id="vincular_aluno" type="text" placeholder="Ex: José da Silva"/>
                <input type="hidden" id="id_personal" name="id_personal" value="{{id_usuario}}">
                <input type="hidden" id="id_aluno" name="id_aluno">
                <button type="button" style="background-color:orange" class="btn-sm" id="confirmar_vinculacao"><i class="fas fa-user-plus"></i></button>
            </div>
            <div id="alert_vinculacao" class="ml-2 col-6" style="display:none;"></div>
    <script src="/resources/assets/js/charts/personal-vinculos-alunos.js" type="text/javascript"></script>
{% endblock %}
