{% extends "inc/template_login.phtml" %}
{% block container %}
{% include "inc/navbar.phtml" %}
    <div id="layoutSidenav">
        {% include "inc/menu_aluno.phtml" %}
        <div id="layoutSidenav_content">
            <main>
                <br>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fa fa-chart-area mr-1"></i>
                            Evolução de IMC
                        </div>
                        <div class="card-body"><canvas id="alunoChartHistoricoImc" width="100%" height="30"></canvas></div>
                        <div class="card-footer small text-muted d-flex justify-content-center">
                        <a> Nossos dados são atualizados uma vez ao dia</a>
                        </div>
                    </div>
                    <input type="hidden" id="id_aluno" name="id_aluno" value="{{id_usuario}}">
            </main>
        </div>

    {% include "inc/modal_aluno_imc.phtml" %}
    <script src="/resources/assets/js/charts/aluno-historico-imc.js" type="text/javascript"></script>

{% endblock %}
