{% extends "inc/template_login.phtml" %}
{% block container %}
    <script src="/resources/assets/js/charts/admin-historico-alunos-ativos.js" type="text/javascript"></script>
{% include "inc/navbar.phtml" %}
    <div id="layoutSidenav">
        {% include "inc/menu_admin.phtml" %}
        <div id="layoutSidenav_content">
            <main>
                <br>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fa fa-chart-area mr-1"></i>
                            Quantidade de alunos ativos
                        </div>
                        <div class="card-body"><canvas id="adminChartHistoricoAlunosAtivos" width="100%" height="30"></canvas></div>
                        <div class="card-footer small text-muted d-flex justify-content-center">
                        <a> Nossos dados são atualizados uma vez ao dia</a>
                        </div>
                    </div>
            </main>

{% endblock %}
