{% extends "inc/template.phtml" %}
{% block container %}
<!-- Navbar -->
    <!-- End Navbar -->
    <input type="hidden" id="page" value="sobre">
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('./resources/assets/img/blurred-cardio-machines_1203-98.jpg');">
            </div>
            <div class="content-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h1 class="title">Sobre nós</h1>
                        <h4>Uma academia completa pra te proporcionar conforto durante seu treino.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="about-description text-center">
            </div>
            <div class="separator-line separator-primary"></div>
            <div class="projects-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">Conheça algumas vantagens de nossa unidade</h2>
                            <div class="section-space"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="card card-background card-background-product card-raised" style="background-image: url('./resources/assets/img/boy-gym-background_23-2147633878.jpg')">
                                <div class="card-body">
                                    <h2 class="card-title">Tudo novo</h2>
                                    <p class="card-description">
                                    Máquinas novas sempre higienizadas para entregar a você o melhor conforto durante seu treino. Halteres renovados a cada seis meses para manter a precisão e capacidade do seu treino.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 mr-auto">
                            <div class="info info-horizontal">
                                <div class="icon icon-danger">
                                    <i class="fas fa-headphones"></i>                                    
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Nós ouvimos a comunidade</h4>
                                    <p class="description">
                                        Realizamos uma pesquisa que revelou a necessidade de abandonar os papéis e enviar o treino dos alunos de forma completamente digital.
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-danger">                                    
                                    <i class="fas fa-money-bill"></i>                                    
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Controle do seu plano</h4>
                                    <p class="description">
                                        Nunca mais seja barrado na catraca. Controle seu tempo de plano direto na sua mão, receba notificações caso o mesmo esteja perto do fim.
                                    </p>
                                </div>
                            </div>
                            <div class="info info-horizontal">
                                <div class="icon icon-danger">                                
                                    <i class="far fa-clock"></i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Períodos controlados</h4>
                                    <p class="description">
                                        Controlamos a quantidade de alunos por horário para evitar filas nos usos de aparelhos, te dando mais conforto durante o treino.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
