{% extends "inc/template_login.phtml" %}
{% block container %}
        {% include "inc/navbar.phtml" %}
        <div id="layoutSidenav">
            {% include "inc/menu_aluno.phtml" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Minha ficha de treino</h1>
                        <div class="card mb-4">
                            <div class="card-body {{warning_style}}">
                                {{warning | raw}}
                            </div>
                        </div>
                        <div class="nav-link-left" >
                            <button type="button" class="btn" style="background-color:orange" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-eraser"></i> Redefinir Treino</button>
                        </div>
						<br>
                        <div class="row">
                            {% for tipo_treino, treinos in treino_aluno %}                                
                                {% set background = styles[tipo_treino].background %}
                                {% set text = styles[tipo_treino].text %}
                                <div class="col-12 col-lg-6">
                                    <div class='card mb-4 {{background}} {{text}}'>
                                        <div class="card-header">
                                            <i class="fas fa-table mr-1"></i>
                                            Lista de Exercícios {{tipo_treino}}
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-sm table-bordered" >
                                                    <thead class="{{text}}">
                                                        <tr>
                                                            <th>Exercício</th>
                                                            <th>Músculo</th>
                                                            <th>Série</th>
                                                            <th>Repetição</th>
                                                        </tr>
                                                    </thead>
                                                    {% for treino in treinos %}
                                                        <tr class="{{text}}">
                                                            <td>{{treino.desc_exercicio}}</td>
                                                            <td>{{treino.desc_musculo}}</td>
                                                            <td>{{treino.series}}</td>
                                                            <td>{{treino.repeticoes}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    
                                                </table>
                                            </div> <!-- final da tabela -->
                                        </div>
                                    </div> <!-- final do card -->						 
                                </div> <!-- Final do card body-->
                            {% endfor %}
                        </div>
                    </div>
                </main>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Redefinição de Treino</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Você quer redefinir seu treino atual?
                            Um novo treino só poderá ser atribuido por um personal.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button id="resetar_treino_aluno" id_aluno="{{id_usuario}}" type="button" class="btn" style="background-color:orange">Redefinir</button>
                        </div>
                        </div>
                    </div>
                </div>

    {% include "inc/modal_aluno_imc.phtml" %}
{% endblock %}
