{% extends "inc/template_login.phtml" %}
{% block container %}

        {% include "inc/navbar.phtml" %}
        <div id="layoutSidenav">
            {% include "inc/menu_personal.phtml" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Ficha de treino {{nome_aluno}}</h1>
						<br>
                        <div class="row">
                            {% for tipo_treino, treinos in treino_aluno %}                                
                                {% set background = styles[tipo_treino].background %}
                                {% set text = styles[tipo_treino].text %}
                                <div class="col-12 col-lg-6">
                                    <div class='card mb-4 {{background}} {{text}}'>
                                        <div class="card-header">
                                            <i class="fas fa-table mr-1"></i>
                                            Lista de Exercícios {{tipo_treino}}
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-sm table-bordered" >
                                                    <thead class="{{text}}">
                                                        <tr>
                                                            <th>Exercício</th>
                                                            <th>Músculo</th>
                                                            <th>Série</th>
                                                            <th>Repetição</th>
                                                        </tr>
                                                    </thead>
                                                    {% for treino in treinos %}
                                                        <tr class="{{text}}">
                                                            <td>{{treino.desc_exercicio}}</td>
                                                            <td>{{treino.desc_musculo}}</td>
                                                            <td>{{treino.series}}</td>
                                                            <td>{{treino.repeticoes}}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    
                                                </table>
                                            </div> <!-- final da tabela -->
                                        </div>
                                    </div> <!-- final do card -->						 
                                </div> <!-- Final do card body-->
                            {% endfor %}
                        </div>
                    </div>
                </main>               
{% endblock %}
